.App {
  text-align: center;
}

.App-header{
  display: flex;
  flex-flow: column;
  min-height: 100vh;

}

.header {
  height: 80px;
  outline: 2px solid red
}

.header-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 40px;
  height: 100%;
  flex-grow: 1;
}

.flashcard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  width: 100%;
  height: 100%;
}

.grid-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  outline: 1px solid red;
}

.card {
  width: 100%;
  min-height: 300px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile {
  width: 100%;
  min-height: 100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.footer {
  display: flex;
  height: 80px;
  outline: 2px solid red;
  width: 100%;
  bottom: 0;
}